div.bar-chart
  p
    span.title #{name}
  p
    span.small #{type}
  div.switch(data-on-label='Weight', data-off-label='Count', data-on="#FF9900", data-off="info")
    input(type='checkbox')
  img.loader(src='/img/loader.gif')
  .chartLocation