form.form-inline
  fieldset
    legend Repository Filters
    .contol-group
      .controls
        select.langSelect
          option Loading laguage list
    .contol-group
      .controls
        label.radio Weighted by star gazers on repo
          input(type='radio', value='weight', name='filterType', checked)
    .contol-group
      .controls
        label.radio By absolute word count
          input(type='radio', value='count', name='filterType')