extends layout

block content
  .row
    .hero-unit.span12
      h1 Analysis of value statments of GitHub repos
      small Text analytics for men
  .row
    .span2#filter
    .span5#weight
    .span45#count
