extends layout

block content
  .row
    .hero-unit.span12
      h1 Analysis of value statments of GitHub repos
      small Text analytics for men
  .row
    .span3
        form.form-inline
          input(placeholder='Filter', type='text')
    .span9
        p The charts go here
