extends layout

block content
  .row
    .span12
      .hero-unit
        h1 What's in a name?
        small A look into GitHub's repo descriptions
  .row
    .span6
      h3 Overview
      p Most repos on GitHub have a short description that give an overview of the repo. When browsing GitHub you are only ever viewing one description at a time. What if all of these descriptions were pulled together, tokenized, and grouped by language?
    .span6
      h3 Data set
      p This project does just that and, with a little magic from d3 and redis, lets us see what makes certain languages tick. For each language we can view a weighted average terms in a description based on the number of stargazers for that repo. By doing so, some interesting conclusions can be drawn.
  .row
    .span12
      h1 A look at GitHub overall
      small Values are total number of stars per word
    .span12
      #all
    .span12
      p.lead We can tell that GitHub is nothing more than a library of javascript frameworks.
      p Or is it a simple node based api?
      p Maybe a Ruby on rails plugin for a nodejs framework that uses a simple web based api?

  .row
    .span12
      h1 On the web
  .row
    .span4
      #js
    .span4
      #php
    .span4
      #ruby
  .row
    .span8
      p.lead Since all three languages operate in the same space, their repos tend to share similar terms in their descriptions.
  .row
    .span12
      h1 The 'C' languages
  .row
    .span4
      #c
    .span4
      #cpp
    .span4
      #csharpe
  .row
    .span8
      p.lead While C and C++ spend their time with Ruby and Node.js on linux, C# is caught in window's .net.

  .row
    .span12
      h1 Others
  .row
    .span3
      #cs
    .span3
      #rust
    .span3
      #bro
    .span3
      #java
  .row
    .span3
      p Coffeescript is indeed unfancy javascript.
    .span3
      p Rust is safe enough to leave alone with young children.
    .span3
      p Bro sadly has little to do with beer and college life.
    .span3
      p Java salutes their new robot overloards.

  .row
    .span12
      h1 How does your repo stand up?
      p Enter the description of your repository to see how it compares with the rest of GitHub!
      p The higher the score, the more important that word is to the selected language.
    .span6
      #suggest
    .span6
      #filter
  .row
    .span6
      #chartOutput
    .span6
      #weight
