extends layout

block content
  .row
    .hero-unit.span12
      h1 Analysis of value statments of GitHub repos
      small Text analytics for men
  .row
    .span2
        form.form-inline
          input.span2(placeholder='Filter', type='text')
    .span5#weight
        p The charts go here
    .span45#count
        p The charts go here
