doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/less/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    link(rel='stylesheet', href='/stylesheets/bootstrapSwitch.css')
  body
    .container
        block content
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/javascripts/bootstrap/bootstrap-tooltip.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/jade.js')
    script(src='/shove.js')