.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.loader {
  display: none;
}
.ui-helper-hidden-accessible {
  display: none;
}
textarea {
  resize: none;
}
legend {
  line-height: 36px;
}
body {
  margin: 0;
}
